*.bat                                       text eol=crlf
gradlew                                     text eol=lf
gradle/wrapper/gradle-wrapper.properties    text eol=lf
*.gradle                                    text eol=lf
*.sh                                        text eol=lf
*.sql                                       text eol=lf
