*.bat                                        text eol=crlf
/gradle/wrapper/gradle-wrapper.properties    text eol=lf
gradlew                                      text eol=lf
build.gradle                                 text eol=lf
*.sh                                         text eol=lf
*.sql                                        text eol=lf
